<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImgResizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImgResizer.Properties.Settings>
            <setting name="WatermarkFont" serializeAs="String">
                <value>Arial, 10pt</value>
            </setting>
            <setting name="WatermarkOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WatermarkOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WatermarkRotation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WatermarkOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IsTrialVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageQuality" serializeAs="String">
                <value>75</value>
            </setting>
        </ImgResizer.Properties.Settings>
    </userSettings>
</configuration>